/*Bài tập 1/
/*Header chính*/
header{
    background-image: url('images/header.png');
    height: 100px;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

/*Logo*/
header img#logo { 
    height: 36px;
}

/*Header-img1*/
.header-img1{
    position: absolute;
    height: 100px;
    top: -30px;
    animation: slide1 3s forwards;
}

/*Header-img2*/
.header-img2{
    position: absolute;
    height: 70px;
    top: -5px;
    animation: slide2 3s forwards;
}

/*Header-img3*/
.header-img3{
    position: absolute;
    height: 80px;
    top: 0px;
    animation: slide3 3s forwards;
}

@keyframes slide1{
    from { left: 80%;}
    to { left: 30%; }
}

@keyframes slide2{
    from { left: 80%;}
    to { left: 45%;}
}

@keyframes slide3 {
    from { left: 80%;}
    to { left: 63%; }
}

/*Bài2*/
nav {
    margin-top: 20px;
    overflow: hidden;
}

.nav-menu a{
    float: left;
    margin: 3px;
    border: 1px solid #fff;
    padding: 2px 4px;
    height: 20px;
    text-align: center;
    color: #ed4190;
    font-size: 17px;
    background-color: #ffffff;
    text-decoration-line: none;
}

.nav-menu a:hover{
    color: #fff;
    background-color: #ed4190;
}

.nav-search {
    padding-top: 3px;
    float: right;
}

.btn-search {
    padding-top: 3px;

    padding: 4px;
    width: 30px;
    color: #fff;
    background-color: #cddc39;
    cursor: pointer;
}

.btn-cart {
    padding-top: 3px;

    padding: 4px;
    width: 30px;
    color: #ed4910;
    background-color: #cddc39;
    cursor: pointer;
}

/*Bài 3*/
footer {
    margin-top: 2px;
    border: 1px solid #ccc7c8;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scocial-links a{
    color: #ed4190;
    text-decoration: none;
}

.back-to-top {
    right: 10px;
    bottom: 5px;
    padding: 10px;
    background-color: #ed4190;
    z-index: 100;
    width: 15px;
    height: 15px;
    background-image: url('images/top.png');
    border-radius: 5%;
    background-size: contain;
    position: fixed;

}

/*Bài tập 4*/
h1 {
    margin-top: 12px;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;
    color: #f9086d;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 34px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    color: #f9086d;
    text-align: left;
    text-transform: none;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 28px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    color: #f9086d;
    text-align: left;
    text-transform: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 24px;
}

.content {
    font-family: 'Open sans', sans-serif;
    margin-bottom: 5px;
    padding: 0px 5px;
    color: #000;
}

.loai1 {
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
    gap: 1%;
}

.loai1 .media1 {
    width: 30%;
    flex-shrink: 0;
    order: 1;
}

.loai1 .media1 img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px;
    object-fit: cover;
}

.loai1 .content {
    width: 69%;
    order: 2;
}

.loai2 {
    display: flex;
    align-items: stretch;
    gap: 1%;
    margin-bottom: 20px;
}

.loai2 .content {
    width: 69%;
    order: 1;
}

.loai2 .media2 {
    width: 30%;
    flex-shrink: 0;
    order: 2;
}

.loai2 .media2 video {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px;
    object-fit: cover;
}

.two-column {
    column-count: 2;
}

.two-column h3 {
    break-before: column;
}

.noidungdathang {
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

.hinhanhdathang {
    display: inline-block;
    border: 1px solid #ed4190;
    border-radius: 5px;
    padding-top: 5px;
    width: 24%;
    text-align: center;
    padding-bottom: 5px;
}

.hinhanhdathang img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 50%;
}

/*Bố cục*/
body {
    display: grid;
    grid-template-areas: "header-cell" "nav-cell" "main-cell" "footer-cell";
    width: 1024px;
    margin:auto;
}

header {
    grid-area: header-cell;
}

nav {
    grid-area: nav-cell;
}

main {
    display: grid;
    grid-area: main-cell;
    border: 1px solid #ccc7c8;
    border-radius: 5px;
}

footer {
    grid-area: footer-cell;
}

.aleft {
    grid-area: left-cell;
    margin: 2px;
    padding: 5px;
    color: #000;
    text-align:center;
}

.aright {
    grid-area: right-cell;
    margin: 2px;
    padding: 5px;
    color: #000;
    text-align:center;
}

main.col1 {
    grid-template-areas: 
    "left-cell" 
    "center-cell" 
    "right-cell";
}

main aside.aleft {
    grid-area: left-cell;
}

main article {
    grid-area: center-cell;
}

main aside.aright {
    grid-area: right-cell;
}

/*hai cột lệch phải và hai cột lệch trái*/
main.col2-left {
    grid-template-columns: 25% 75%;
    grid-template-areas: "left-cell center-cell";
}

main.col2-left aside.aright{
    display: none;
}

main.col2-right {
    grid-template-columns: 75% 25%;
    grid-template-areas: "center-cell right-cell";
}

main.col2-right aside.aleft{
    display: none;
}

main aside img, main article img {
    max-width:100%;
    height:auto;
}

article h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 760px){
    main.col2-left {
        grid-template-columns: 1fr;
        grid-template-areas: "center-cell" "left-cell" ;
    }
    main.col2-right {
        grid-template-columns: 1fr;
        grid-template-areas: "center-cell" "right-cell" ;
    }
}



.main-sanpham section {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    color: #ed4190;
    flex-wrap: wrap;
}


.main-sanpham .product-item {
    display: flex;
    margin: 3px;
    border: 1px solid #dbd7d9;
    padding: 0px;
    color: #ed4190;
    flex: 1 1 0;
    flex-direction: column;
    background: linear-gradient(to top, #cddc39 0%, transparent 10%);
}


.main-sanpham .product-item img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}


.main-sanpham .product-item h2 {
    text-align: center;
}


.main-sanpham .product-item span {
    display: block;
    margin: 4px;
    padding: 3px;
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 2;
}

.main-sanpham section h1 {
    width: 100%;
}

.main-sanpham .product-item span label {
    color: #000000;
}